<header class="header">
  {% load static %}
  {% if  user.is_authenticated %}
        <div class="menu_container">
          <div class="header__con">
            <div class="header__logo">
              <img src="{% static 'img/bm.png' %}" class="logo">
              <h1 class="header__title">BODY MASTER</h1>
            </div>



            <label for="check" class="check_menu"> <i class="icon-menu"></i></label>
            <input type="checkbox" id="check" class="check">

            <nav class="menu">
              <ul class="menu__ul">
                <li class="menu__li menu__li--X"><i class="icon-cross"></i></li>
                <li class="menu__li">
                  <a href="{% url  'accounts:home' %}" class="menu__a">
                    <i class="icon-home menu__icon"></i>
                    <p class="menu__p">INICIO</p>
                  </a>
                </li>

                <li class="menu__li">
                  <a href="{% url  'accounts:compras' %}" class="menu__a">
                    <i class="icon-truck menu__icon"></i>
                    <p class="menu__p">COMPRAS</p>
                  </a>
                </li>

                <li class="menu__li">
                  <a href="{% url  'accounts:logout' %}" class="menu__a">
                    <i class="icon-switch menu__icon"></i>
                    <p class="menu__p">SALIR</p>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div id="cart">
            {% include 'partials/cart_count.html' %}
          </div>


        </div>
  {% else %}
    <div class="menu_container">
      <div class="header__con">
        <div class="header__logo">
          <img src="{% static 'img/bm.png' %}" class="logo">
          <h1 class="header__title">BODY MASTER</h1>
        </div>
      </div>

    </div>
  {% endif %}

</header>
