{% extends '../base.html' %}
{% block title %}Compras{% endblock title %}

{% block content %}
  {% include 'partials/header.html' %}
  <main class="main">
    <div class="table_con">
      <table class="table">
        <thead class="table__head">
          <tr>
            <th>REALIZADA POR</th>
            <th>FECHA</th>
            <th>TOTAL</th>
            <th>--</th>
          </tr>
        </thead>
        <tbody class="table__body">
          {% for x in object_list  %}
                <tr>
                  <td>{{x.usuario.first_name}}</td>
                  <td>{{x.fecha}}</td>
                  <td>${{x.total}}</td>
                  <td>
                    <form  action="{% url  'accounts:compra_delete' x.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" id="delete_compra">
                            <i class="icon-cross"></i>
                        </button>
                    </form>
                  </td>
                </tr>
          {% empty %}
            <tr>
              <th colspan="4">NO HAY COMPRAS</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </main>

  <div id="loading">
  </div>

{% endblock content %}
