{% extends '../base.html' %}
{% block title %}Detail Product{% endblock title %}
{% block content %}
  {% include 'partials/header.html' %}

  <div class="container">
    <h1 class="title">Información de {{object}}</h1>
    <form class="form__detail" method="post" enctype='multipart/form-data'>{% csrf_token %}
      {% for field in form %}
        {% if field.label != 'Imagen' %}
          <div class="form__cont">
           <label class="form__label">{{ field.label }}</label>
           {{ field }}
          </div>
        {% else %}
        <div class="form__cont--img">
         <label class="form__label upload" for="upload">Subir Imagen</label>
         {{ field }}
        </div>
        {% endif %}

      {% endfor %}
      <button type="submit" name="button" class="btn btn--add-up">Guardar</button>
    </form>
  </div>
{% endblock content %}
