@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");
@import url("https://fonts.googleapis.com/css?family=Play");
.btn {
  background: transparent;
  display: block;
  padding: 0.8rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 2px;
  border: 1px solid rgba(16, 16, 16, 0.1);
  font-size: 16px; }
  .btn:hover {
    background: #e6e6e6; }
  .btn:active {
    transform: scale(0.9); }

.btn__text {
  color: #fff;
  font-size: 16px; }

.btn--compra {
  background: #44c355;
  color: #fff;
  font-size: 16px; }
  .btn--compra:hover {
    background: #3ab44a; }

.btn--add {
  background: #FF1D19; }
  .btn--add:hover {
    background: #e50400; }
  .btn--add i {
    color: #fff; }

.btn--save {
  background: #2F2F2F;
  color: #fff;
  font-size: 16px; }
  .btn--save:hover {
    background: #161616; }

.btn__cart {
  width: 100%;
  color: #fff;
  font-weight: lighter;
  background: #2F2F2F;
  margin-bottom: 0.2rem; }
  .btn__cart:hover {
    background: #222222; }

.btn__cart--del {
  background: #FF1D19; }
  .btn__cart--del:hover {
    background: #e50400; }

.menu_container {
  width: 95%;
  margin: auto; }

.menu_container {
  display: flex;
  align-items: center; }

#check {
  display: none; }
  #check:checked ~ .menu {
    left: 0; }

.check_menu {
  color: #fff;
  font-size: 32px; }

.cart {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 10px;
  position: relative; }
  .cart .cart__count {
    font-size: 10px;
    position: absolute;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    top: -2px;
    left: 70%;
    border-radius: 2px; }

.logo {
  display: block;
  width: 2.5rem;
  height: 2rem; }

.header__logo {
  display: flex;
  align-items: center; }

.header {
  background: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem; }
  .header .header__title {
    color: #fff;
    font-family: 'Play'; }

.header__con {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.menu {
  color: #fff;
  position: absolute;
  top: 0em;
  left: -100%;
  background: rgba(16, 16, 16, 0.8);
  z-index: 100;
  transition: all ease 0.3s;
  width: 100%;
  height: 100vh; }

.menu__ul {
  list-style: none;
  right: -100%; }

.menu__a {
  color: #fff;
  display: flex;
  align-items: center; }

.menu__icon {
  margin-right: 0.5rem;
  font-size: 24px; }

.space {
  justify-content: space-between; }

.menu__li, .menu__a, .menu__p, .menu__icon {
  transition: all ease 1s; }

.menu__li {
  line-height: 3;
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .menu__li:hover {
    background: #2a2a2a; }
    .menu__li:hover .menu__p, .menu__li:hover .menu__icon {
      color: red; }
    .menu__li:hover .menu__subli {
      display: block; }
    .menu__li:hover .icon-circle-up {
      transform: rotate(180deg); }

.menu__li--X {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem; }
  .menu__li--X:hover {
    background: none; }
  .menu__li--X i {
    font-size: 12px;
    margin-right: 0.5rem;
    transition: all ease 0.4s; }
    .menu__li--X i:hover {
      transform: scale(2); }

.icon-circle-up {
  transition: all ease 0.4s;
  margin-right: 0.5rem; }

.menu__li, .menu__subli {
  list-style: none; }

.menu__subli {
  transition: all ease 0.4s;
  background: rgba(16, 16, 16, 0.8);
  display: none; }
  .menu__subli:hover {
    background: #1d1d1d; }

.menu__suba {
  color: #fff;
  display: block; }

.menu__subcon {
  display: flex;
  align-items: center; }

@media screen and (min-width: 1024px) {
  .check_menu {
    display: none; }

  .header {
    height: 3.5rem; }

  .menu__li--X {
    display: none; }

  .menu {
    position: relative;
    width: calc((40% * 2) / 3);
    top: 0;
    left: 0px;
    height: 3.5rem;
    display: flex; }

  .menu__li {
    height: 3.5rem;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    flex: 1; }
    .menu__li:nth-child(2) {
      border-left: 1px solid rgba(255, 255, 255, 0.3); }
    .menu__li:hover .menu__subli {
      display: flex;
      justify-content: center; }

  .menu__ul {
    display: flex;
    width: 100%; }

  .menu__a {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px; }

  .menu__icon {
    font-size: 27px; }

  .menu__sub {
    position: absolute;
    top: 3.5rem;
    width: calc(100%/2); }

  .icon-circle-up {
    margin-left: 0.5rem; }

  .cart {
    display: flex;
    align-items: center;
    color: #fff;
    position: relative; } }
.select {
  font-size: 16px;
  padding: 5px;
  width: calc(90%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  margin-right: 0.5rem; }

.search_pane {
  margin-top: 10px;
  display: flex; }

.gallery {
  display: flex;
  flex-wrap: wrap; }

.gallery__content {
  width: 100%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column; }

.item__img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 330px; }

.item {
  width: 300px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.item__delete {
  display: flex;
  justify-content: flex-end;
  background: #f2f2f2;
  padding: 2px; }
  .item__delete .del {
    border-radius: 50%; }
  .item__delete .icon-cancel-circle {
    font-size: 16px; }
    .item__delete .icon-cancel-circle:hover {
      color: red; }

.item__price, .item__cant, .item__desc, .item__name {
  font-weight: lighter; }

.item__name {
  font-size: 32px;
  font-weight: 400; }

.item__price, .item__cant {
  font-size: 24px; }

.item__desc {
  margin-top: 0.5rem;
  width: 100%;
  height: 50px;
  overflow-y: scroll; }

.item__btns {
  display: flex;
  justify-content: center; }

.img {
  display: block;
  width: 100%; }

.item__info {
  background: #f2f2f2;
  padding: 1rem; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search_pane {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }

  .select {
    flex: .5; }

  .btn--add {
    flex: .2; }

  .gallery {
    max-width: calc(600px + 2rem); } }
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .search_pane {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }

  .select {
    flex: .3; }

  .btn--add {
    flex: .2; }

  .gallery {
    max-width: calc(900px + 2rem); } }
@media screen and (min-width: 1300px) {
  .search_pane {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }

  .select {
    flex: .3; }

  .btn--add {
    flex: .09; }

  .gallery {
    max-width: calc(1200px + 2rem); } }
@keyframes modalAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.animated {
  animation: modalAnimation 1.5s; }

.modal__text {
  font-size: 16px; }

.modal-body--delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; }

body.modal-open {
  overflow-x: hidden;
  overflow-y: auto; }

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto; }

.modal .modal-dialog {
  position: relative;
  margin: 30px auto;
  width: 350px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background: #fff;
  margin: 0 auto; }

.modal-header, .modal-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 1rem;
  background: #FF1D19; }

.modal-header--delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem; }

.modal__title {
  color: #fff;
  font-weight: lighter;
  font-size: 24px; }

.modal-body {
  padding: 5px; }

.modal-footer {
  display: flex; }

.login_con {
  height: calc(100vh - 3.5rem);
  display: flex;
  justify-content: center; }

.login_field {
  padding: 10px;
  width: 100%; }

.login-text_cont {
  display: flex;
  justify-content: center;
  padding: 10px; }

.btn-login {
  margin: 1rem auto;
  width: 100%;
  padding: 8px;
  background: #FF1D19;
  color: #fff; }

.login_form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 95%;
  max-width: 400px;
  margin: auto; }

textarea {
  height: 100px; }

.form__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 0.5rem; }

.form__label {
  color: #2F2F2F; }

.form__field {
  border-radius: 4px;
  width: 80%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px; }
  .form__field:focus {
    border: 1px solid steelblue; }

.margin-top {
  margin: 1rem auto;
  max-width: 400px; }

.form__cont--img {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center; }

.form__field--img {
  border: none;
  outline: none;
  opacity: 0;
  display: none; }

.upload {
  padding: 10px;
  color: #fff;
  background: #2F2F2F;
  margin-bottom: 0.5rem; }

input[type="file"] {
  border: none;
  outline: none; }

.btn--add-up {
  width: 100%;
  background: #FF1D19;
  color: #fff; }

.form__detail {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  width: 350px;
  min-width: 350px;
  margin: 0.5rem auto; }

label[for='img-clear_id'] {
  display: none; }

#img-clear_id {
  display: none; }

.cart__cont {
  max-width: 400px;
  margin: 1rem auto; }

.cart__item--no {
  display: flex;
  justify-content: center; }

.cart__item {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.cart__item--total {
  display: flex;
  justify-content: space-between; }

.cart__span {
  color: #FF1D19;
  margin-right: 2px; }

.cart__total, .cart__total--text {
  font-weight: bold;
  font-size: 24px; }

.cart__btn {
  display: flex;
  flex-direction: column; }

.table_con {
  width: 100%; }

.table {
  margin: auto;
  width: 100%;
  margin-top: 1rem;
  max-width: 1000px;
  border-collapse: collapse; }

#delete_compra {
  background: transparent;
  border-radius: 50%; }

th, td {
  padding: 10px; }

.table__head {
  background: #FF1D19;
  text-align: center;
  color: #fff;
  height: 1rem; }

.table__body {
  text-align: center; }
  .table__body tr:nth-child(even) {
    background: #eee; }
  .table__body tr:hover {
    background: #ddd; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

@keyframes success {
  from {
    transform: rotate(0deg);
    color: #FF1D19; }
  to {
    transform: rotate(360deg); } }
@keyframes load {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.3); } }
#loading, #Addloading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: lighter; }
  #loading:focus, #Addloading:focus {
    outline: none;
    border: none; }
  #loading .loading__icon, #Addloading .loading__icon {
    font-size: 32px; }
  #loading .loading-sp, #Addloading .loading-sp {
    animation: success 1s infinite linear; }
  #loading .loading-err, #Addloading .loading-err {
    color: red;
    animation: load 1s infinite linear; }
  #loading .loading-suc, #Addloading .loading-suc {
    color: seagreen;
    animation: load 1s infinite linear; }

.ui-dialog-titlebar-close {
  visibility: hidden; }

.ui-widget-content {
  outline: none; }

.icon-plus {
  margin-right: 5px; }

.title {
  text-align: center;
  font-weight: lighter; }

a {
  text-decoration: none;
  color: steelblue; }

button {
  border: none;
  outline: none;
  background: #eee; }

sup {
  font-size: 16px; }

img {
  display: block;
  width: 100%; }

.container {
  width: 95%;
  margin: auto; }

.main {
  width: 95%;
  height: calc(100vh - 3.5rem);
  background: #fefefe;
  margin: auto;
  height: 100%; }

.text {
  width: 100%; }

.text__noFound {
  font-weight: lighter;
  font-size: 36px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
