.btn{
  background: transparent;
  display: block;
  padding: 0.8rem;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 2px;
  border: 1px solid rgba($m_color,0.1);
  font-size: 16px;
  &:hover{
    background: darken(#fff,10);
  }
  &:active{
    transform: scale(0.9);
  }
}

.btn__text{
  color: #fff;
  font-size: 16px;
  // display: none;
}

.btn--compra{
  $color:#44c355;
  background: $color;
  color: #fff;
  font-size: 16px;
  &:hover{
    background: darken($color,5);
  }
}

.btn--add{
  background: $s_color;

  // width: calc(10% - 0.5rem);
  &:hover{
    background: darken($s_color,10);
  }
  i{color: #fff;}
}


.btn--save{
  background: $a_color;
  color: #fff;
  font-size: 16px;
  &:hover{
    background: darken($a_color,10);
  }
}
