.cart__cont{
  max-width: 400px;
  margin: 1rem auto;

}

.cart__item--no{
  display: flex;
  justify-content: center;
}
.cart__item{
  padding: 10px;
  border-bottom: 1px solid rgba(#000,0.2);
}
.cart__item--total{
  display: flex;
  justify-content: space-between;
}

.cart__span{
  color: $s_color;
  margin-right: 2px;
}
.cart__p{}
.cart__total,.cart__total--text{
  font-weight: bold;
  font-size: 24px;
}

.cart__btn{
  display: flex;
  flex-direction: column;
}
