.login_con{
  height: calc(100vh - 3.5rem);
  display: flex;
  justify-content: center;
}

.login_field{
  padding: 10px;
  width: 100%;
}

.login-text_cont{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn-login{
  margin: 1rem auto;
  width: 100%;
  padding: 8px;
  background: $s_color;
  color: #fff;
}
.login_form{
  border: 1px solid rgba(#000,0.1);
  width: 95%;
  max-width: 400px;
  // height: 200px;
  margin:auto;
}


textarea{
  height: 100px;
}

.form__cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 0.5rem;
}

.form__label{
  color: $a_color;
  // font-weight: bold;

}

.form__field{
  border-radius: 4px;
  width: 80%;
  outline: none;
  border: 1px solid rgba(#000,0.2);
  padding: 10px;
  &:focus{
    border: 1px solid rgba(steelblue,1);
  }
}

.margin-top{
  margin: 1rem auto;
  max-width: 400px;
}

.form__cont--img{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.form__field--img{
  border: none;
  outline: none;
  opacity: 0;
  display: none;
}

.upload{
  padding: 10px;
  color: #fff;
  background: $a_color;
  margin-bottom: 0.5rem;
}

input[type="file"]{
  border: none;
  outline: none;
}

.btn--add-up{
  width: 100%;
  background: $s_color;
  color: #fff;
}

.form__detail{
  border: 1px solid rgba(#000,0.2);
  border-radius: 4px;
  padding: 10px;
  width: 350px;
  min-width: 350px;
  margin: 0.5rem auto;

}

label[for='img-clear_id']{
  display: none;
}
#img-clear_id{
  display: none;
}
