$s_color:#FF1D19;
$m_color:#101010;
$a_color:#2F2F2F;
$t_color:#fff;
// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=Play');
@import 'btn';
@import 'menu';
@import 'index';
@import 'modal';
@import 'form';
@import 'cart';
@import 'table';

// VARIABLES


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


@keyframes success {
  from{
    transform: rotate(0deg);
    color: $s_color;
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes load {
  from{
    transform:scale(1);
  }
  to{
    transform: scale(1.3);
  }
}

#loading,#Addloading{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 24px;
  border: 1px solid rgba(#000,0.2);
  border-radius: 10px;
  font-weight: lighter;
  &:focus{
    outline: none;
    border: none;
  }

  .loading__icon{
    font-size: 32px;

  }
  .loading-sp{
    animation: success 1s infinite linear;
  }

  .loading-err{
    color: red;
    animation: load 1s infinite linear;
  }

  .loading-suc{
    color: seagreen;
    animation: load 1s infinite linear;
  }
}
// HIDDEN CLOSE BUTTON ON MODAL DIALOG
.ui-dialog-titlebar-close {
    visibility: hidden;
}
//REMOVE BORDER DIALOG UI
.ui-widget-content {
    outline: none;
}


.icon-plus{
  margin-right: 5px;
}




.title{
  text-align: center;
  font-weight: lighter;
}

a{text-decoration: none; color: steelblue;}
button{ border: none; outline: none; background: #eee;}
sup{font-size: 16px;}
img{display: block; width: 100%;}
.container{
  width: 95%;
  margin: auto;

}

.main{
  width: 95%;
  height: calc(100vh - 3.5rem);
  background: lighten(#F9F9F9,2);
  margin: auto;
  height: 100%;

}

.text{
  width: 100%;
}

.text__noFound{
  font-weight: lighter;
  font-size: 36px;
  text-align: center;
}
