$s_color:#FF1D19;
$m_color:#101010;
$a_color:#2F2F2F;
$t_color:#fff;
// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=Play');
@import 'btn';
@import 'menu';
@import 'index';
@import 'modal';
@import 'form';

// VARIABLES


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



.icon-plus{
  margin-right: 5px;
}






a{text-decoration: none; color: steelblue;}
button{ border: none; outline: none; background: #eee;}
sup{font-size: 16px;}
img{display: block; width: 100%;}
.container{
  width: 95%;
  margin: auto;

}

.main{
  width: 95%;
  height: calc(100vh - 3.5rem);
  background:#f7f7f7;
  margin: auto;
  height: 100%;

}
.text{
  width: 100%;
}
.text__noFound{
  font-weight: lighter;
  font-size: 36px;
  text-align: center;
}
